* {
  /* background: unset !important;
  border-color: black !important;
  color: black !important; */
}

.MuiDataGrid-row--borderBottom,
main,
header,
.MuiDrawer-anchorLeft .MuiPaper-root {
  background: unset !important;
}

.MuiDrawer-root[role="presentation"]>.MuiPaper-root>.MuiStack-root {
  background: linear-gradient(90deg, rgba(133, 81, 224, 0.85) 0%, rgba(189, 76, 213, 0.53) 84%, rgba(255, 255, 255, 1) 100%);
}

.MuiDrawer-root .MuiPaper-root,
.MuiDrawer-root .MuiPaper-root a {
  color: #AB47BC;
}

[aria-label="Dashboard"] {
  display: none;
}

body {
  background-color: white !important;
}

#root::after {
  content: "";
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(189, 76, 213, 0.53) 16%, rgba(133, 81, 224, 0.85) 100%);
}